.square-container{
    border: 0.5px solid grey;
    /* height:30vw;  */
    height:250px;
    margin-bottom:15px;
}

.circle{
    border-radius: 50%;
    border: 0.5px solid grey;
    width: 100px;
    height:100px;
    margin: auto;
    margin-top: -10%;
    background-color: white;
    display:flex;
    justify-content:center;
}
#about-circle-3{
    background-image: url("../../../assets/005-teamwork.svg");
    background-size:contain;
}


#about-circle-1>img,
#about-circle-2>img,
#about-circle-3>img{
    width:80%;    
}
