.listContainer {
  margin-top: 80px;
  padding: 0 10%;
}

.filter {
  display: flex;
  background-color: #dbe2ef;
  border-radius: 1em;
  margin-top: 1em;
  padding: 10px;
  gap: 0.5em;
  justify-content: center;
}

.filterDropdown {
  flex: 1;
}
