
.interesContainer{
    max-width:fit-content;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 1);
    color: white;
    margin: 0 5px 5px 0;
    padding: 0px;
}

.interesContainer h2{
    padding: 0px;
    font-size: 12px;
    margin: 5px 10px;
    text-align: center;
}