.modal-container {
  background-color: rgba(3, 3, 3, 0.8);
  z-index: 1100;
}

.step1 {
  padding: 1em 2em;
  min-width: 400px;
}

.login-redirect:hover {
  cursor: pointer;
  color: darkgray;
}

.wrong_input {
  background-color: #ff0000be;
  text-align: center;
}

.wrong_input p {
  margin: 0;
}
