
.searchBar{
    width: 100%;
    height: 50px;
    background-color: #555555;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
}

.container{
    height: 100%;
    width: 100%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    padding: 0;
}

.searchInput{
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    font-size: 20px;
    border: 0px;
}

.searchButton{
    border-radius: 0px 20px 20px 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 5%;
    min-width: 40px;
    background-color: #cecece;
}

.hidden{
    display: none;
}