

.participanteBox{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    min-height: 150px;
    min-width: 500px;
    background-color: gray;
    border-radius: 20px;
    border-style: double;
}

.profilePic{
    margin-right: 1%;
    align-self: center;
}

.profilePic img{
    height: 100px;
    width: 100px;
    border-radius:20%;
}

.participanteInfo{
    align-self: center;
    width: 100%;
    height: auto;
    padding: 1% 0;
}

.participanteInfo h1{
    font-size: 30px;
    margin: 0px;
    color: white;
}

.participanteInfo hr{
    margin: 0 50px 5px 0;
}

.intereses{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    border-style: double hidden hidden hidden;
    padding-top : 10px;
}


.intereses h3{
    margin-right: 10px;
    font-size: 20px;
}

.iconsContainer{
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    align-self: center;
}

.iconsContainer img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
