.logo-container {
  width: 250px; /* Set your desired width */
  height: 60px; /* Set your desired height */
  clip-path: inset(0 0 0 0);
}

#logo {
  max-width: 250px;
  margin-top: -65px;
}

.buttons-container {
  width: 15%;
  justify-content: space-around;
}

.nav-link:hover {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user{
  display: flex;
  align-items: center;
}

.user h4{
  white-space: nowrap;
  margin: 0px 5px;
}

.user img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  white-space: nowrap;
  margin-right: 0px;
}

.user_options{
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: right;
  position: absolute;
  width: auto;
  height: auto;
  right: 0px;
  left:80%;
  top:100%;
  text-align: right;
}

.user_options-background{
  background-color: #f8f9fa;
  border-radius: 0 0 0 1em;
}

.user_options hr{
  color: black;
  width: 90%;
  height: 10px;
  align-self: center;
  margin: 0px
}

.user_options h5{
  margin-right: 25px;
}